html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: auto 0;
    display: flex;
    flex-flow: row nowrap;
}

#root{
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100%;
}

#app_root{
    height: 100%;
}

.body{
    background-color: whitesmoke;
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Lato', sans-serif;
}



.main-color {
    background: #1f1f1fd6;
    color: rgb(255, 255, 255);
}