.bgimage-home {
    background: url("../../public/img/bg.jpg") top center / cover no-repeat fixed;
    z-index: -10;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.bgimage-overlay-home {
    z-index: -8;
    background-color: #3535353b;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.home-zone {
    color:#FFF;
    font-size:2em;
    border-radius: 2px;
    border: 2px solid #35353512;
    transition: all 0.3s linear;
}

/* GRID */
.grid-wrapper {
    z-index: 1;
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    min-height: 53.1vh;
    padding: 8px;
    border-bottom: none;
}

.box {
    min-width: 400px;
    min-height: 400px;
    resize: both;
    overflow: auto;
    /* background-color: rgb(193, 166, 113); */
    background-color: rgb(223, 208, 179);
    padding: 10px; 
    transition: 0.1s;
}

.box:hover{
    transform: scale(1.01);
}

.note > button {
    margin: 0;
    align-self: flex-end;
}
/* NOTE STUFF*/
.note{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 400px;
    height: 100%;
}

.ntitle{
    font-size: 2rem;
    margin-top: 0;
    word-wrap: break-word;
}
.nbody {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    resize: none;
    width: 100%;
    height: 100%;
    background: rgb(255, 250, 149);
    background: url("../../public/img/noteb.jpg") top center / 100% 50px repeat;
    line-height: 25px;
    border:none;
    overflow:hidden;
    overflow-y: auto;
    font-weight:bold;
    padding-left: 17%;
    box-sizing: border-box;
}

/* Cover */
.home-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 30vh;
    background-image: url("../../public/img/notes.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}

/* PHONE STUFF */
@media (max-width: 600px) {
    .box {
        min-width: 90vw;
    }

    .grid-wrapper {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .box {
        min-width: 90vw;
    }
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/

.main-color {
    background: #1f1f1fd6;
    color: rgb(255, 255, 255);
}